html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.box {
    box-sizing: border-box;
}

.auth-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.auth-left {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.auth-title {
    width: fit-content;
    height: fit-content;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 35px;
    margin: 10px 0 5px 30px;
    color: #d81b60;
}

.auth-illustration {
    flex: 1;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.auth-illustration img {
    width: 100%;
    margin: auto;
}

.auth-right {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.auth-right #title {
    font-size: 35px;
}

.auth-right p {
    margin: 20px 0;
    color: #666666;
    line-height: 1.5em;
    font-size: 17px;
}

.auth-details {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.auth-form {
    width: 100%;
    height: fit-content;
    align-self: center;
}

.auth-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    transition: .25s border ease-in-out;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
    box-sizing: border-box;
}

.auth-input:focus{
    outline: none;
    border-bottom: 1px solid #d81b60;
}

.auth-form button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background: #0095ff;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
}

.auth-form button:hover {
    background: #1976d2;
}

.auth-details-footer {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;
    color: #666666;
}

.auth-details-footer a {
    text-decoration: none;
    color: #0095ff;
    font-weight: bold;
}

.navbar {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: white;
    z-index: 99;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-title {
    width: fit-content;
    height: fit-content;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 30px;
    color: #d81b60;
    text-decoration: none;
    flex: 1;
}

.menu ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style: none;
}

.menu-item {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
    margin: 0 13px;
    font-size: 16px;
}

.menu-item:hover {
    color: #d81b60;
}

.header {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 70px 20px 50px;
    box-sizing: border-box;
}

.browsing-location {
    align-self: flex-start;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: fit-content;
    width: 100%;
}

.browsing-location i {
    font-size: 20px;
}

.browsing-location span {
    margin-left: 10px;
    opacity: 0.8;
    font-size: 16px;
}

#summary {
    flex: 1;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.city-tag {
    font-size: 18px;
}

.city {
    font-size: 50px;
    font-weight: bold;
}

#summary p {
    line-height: 1.5em;
    opacity: 0.8;
}

.header-right {
    width: 60%;
    height: 100%;
    position: relative;
}

.header-right img {
    position: absolute;
    width: 80%;
}

@media screen and (max-width: 769px) {

    html {
        overflow-y: auto;
    }
    
    .auth-page {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .auth-left {
        height: fit-content;
        width: 100%;
    }

    .auth-title {
        margin: 10px auto;
        font-size: 30px;
    }

    .auth-illustration {
        display: none;
    }

    .auth-right {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .auth-right #title {
        font-size: 30px;
        align-self: center;
    }

}